﻿﻿﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BouwdepotInvoiceValidator</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invoice-upload">
                <span class="bi bi-file-earmark-pdf-fill-nav-menu" aria-hidden="true"></span> Invoice Validator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bouwdepot-rules">
                <span class="bi bi-book-fill-nav-menu" aria-hidden="true"></span> Bouwdepot Rules
            </NavLink>
        </div>
    </nav>
</div>
