@page "/bouwdepot-rules"

<PageTitle>Bouwdepot Rules</PageTitle>

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>Bouwdepot Rules and Regulations</h3>
        </div>
        <div class="card-body">
            <h4 class="mb-4">How does a Bouwdepot work?</h4>
            
            <div class="alert alert-info mb-4">
                <p>
                    The information below is an excerpt from the general terms and conditions 
                    regarding Bouwdepot (construction fund) requirements and rules.
                </p>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header bg-light">
                            <h5>Hoe werkt een bouwdepot?</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                Wordt uw woning nog gebouwd of wilt u een verbouwing of
                                verduurzaming financieren? Wij zetten dan het deel van het
                                hypotheekbedrag dat nog niet nodig is voor de (ver)bouw van uw
                                woning in een depot. Dat heet een bouwdepot voor nieuwbouw
                                of een reguliere verbouwing en een verduurzamingsdepot
                                wanneer u energiebesparende maatregelen wilt treffen. Het
                                bedrag van uw bouwdepot of verduurzamingsdepot staat in uw
                                offerte. Uit uw bouwdepot of verduurzamingsdepot worden de
                                facturen en bonnen van uw verbouwing of verduurzaming
                                betaald.
                            </p>
                            <p>
                                Het bedrag in bouwdepot is bestemd voor de financiering van
                                de (ver)bouw of verduurzaming van het onderpand. U kunt dus
                                niet vrij over het bedrag in het bouwdepot beschikken. U kunt
                                de facturen van uw bouwtermijnen, verbouwingskosten of
                                energiebesparende maatregelen indienen via Mijn ING.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header bg-light">
                            <h5>Key Requirements</h5>
                        </div>
                        <div class="card-body">
                            <p>Voor een betaling van een verbouwing, renovatie of verduurzaming dient er aan de volgende twee voorwaarden te worden voldaan:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    De renovatie of verbouwing zorgt ervoor dat de kwaliteit van
                                    het huis verbetert en hierdoor de woning in waarde stijgt.
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    De verbeteringen dienen vast te zitten aan het huis en niet
                                    zonder beschadiging te kunnen worden losgemaakt.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header bg-light">
                            <h5>Verduurzamingsdepot (Sustainability Fund)</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                Betalingen uit het verduurzamingsdepot moeten voldoen aan
                                dezelfde voorwaarden als betalingen uit het reguliere
                                bouwdepot, met de aanvulling dat voor uitbetaling uit het
                                verduurzamingsdepot alleen onderstaande maatregelen zijn
                                toegestaan:
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    Gevelisolatie, dakisolatie, vloerisolatie, leidingisolatie
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    Hoog rendement beglazing (ten minste HR ++)
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    Energiezuinige deuren, kozijnen en daarmee gelijk te stellen
                                    constructieonderdelen indien deze voorzieningen worden
                                    getroffen in combinatie met hoog rendement beglazing
                                    (ten minste HR ++)
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    Douche-warmteterugwinningsysteem
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    Energiezuinig ventilatiesysteem
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    Warmtepompen, zonnecellen of een combinatie van de
                                    genoemde voorzieningen.
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-check text-success me-2"></i>
                                    Een combinatie van bovenstaande maatregelen.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5>Additional Information</h5>
                        </div>
                        <div class="card-body">
                            <p>Verder geldt:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="oi oi-circle-check text-info me-2"></i>
                                    Het bouwdepot wordt overeengekomen in een akte van depot.
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-circle-check text-info me-2"></i>
                                    De maximale looptijd is twee jaar vanaf de passeerdatum.
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-circle-check text-info me-2"></i>
                                    Over het bedrag dat u nog niet uit het bouwdepot heeft
                                    opgenomen, hoeft u geen rente te betalen.
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-circle-check text-info me-2"></i>
                                    U ontvangt elk jaar een overzicht van de stand van zaken van
                                    uw depot. Ook krijgt u bericht van elke mutatie in uw depot.
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-circle-check text-info me-2"></i>
                                    Het depotbedrag moet voldoende zijn om de totale kosten
                                    van de (ver)bouw van uw huis te kunnen betalen. Als bij
                                    aanvang al duidelijk is dat dit niet het geval is, moet u de
                                    eerste rekeningen ter grootte van het verschil zelf betalen.
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-circle-check text-info me-2"></i>
                                    Heeft u meerdere leningdelen met een bouwdepot en
                                    bijvoorbeeld ook een Overbruggingsfinanciering, dan geldt
                                    voor uitbetalingen onderstaande volgorde:
                                    <ol>
                                        <li>Uitbetaling uit bouwdepot van de Overbruggingsfinanciering</li>
                                        <li>Uitbetaling uit bouwdepot van leningdeel met laagste rente</li>
                                        <li>Uitbetaling uit bouwdepot van leningdeel met hoogste rente</li>
                                    </ol>
                                </li>
                                <li class="list-group-item">
                                    <i class="oi oi-circle-check text-info me-2"></i>
                                    Na de voltooiing of verbouwing van uw huis kan een bedrag
                                    in het depot overblijven. Dit resterende bedrag wordt altijd
                                    afgelost op uw hypotheek. Deze aflossing kan fiscale
                                    consequenties hebben. Is de aflossing hoger dan € 2.500?
                                    Dan wordt de marktwaarde van uw woning, die wij hebben
                                    vastgesteld bij het afsluiten van de hypotheek, met dit
                                    bedrag verlaagd. Alleen als u een Energiebespaarbudget
                                    heeft in een verduurzamingsdepot, dan wordt dit deel niet
                                    meegenomen in de marktwaardeverlaging, omdat het
                                    Energiebespaarbudget vooraf niet is meegenomen in de
                                    marktwaarde van de woning bij het bij ons bekende
                                    taxatierapport. Als u het niet eens bent met deze aanpassing,
                                    kunt u aantonen dat de marktwaarde hoger is. U kunt dit
                                    doen met een recent taxatierapport (waardepeildatum niet
                                    ouder dan 6 maanden). Vraag uw ING- hypotheekadviseur of
                                    tussenpersoon wat de extra aflossing voor u betekent.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
